<div class='row'>
    <div class='col-md-12'>
    	<nav class='navbar navbar-default'>
		    <div class='container-fluid'>
				<ul class='nav navbar-nav'>
					<li><a href='#/'>Expenses</a></li>
				</ul>
		        <ul class='nav navbar-nav navbar-right'>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">View <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li class="active"><a href='#/'>Expense List</a></li>
							<li><a href='#/week'>Weekly Summary</a></li>
						</ul>
					</li>
		        	<li><a href='#/add'>Add</a></li>
		            <li><a href ng-click="logout()" target='_self'>Logout</a></li>
		        </ul>
		    </div>
		</nav>
    </div>
</div>

<div class="row" ng-show="state === 'loading'">
	<div class="col-md-12">
		<h1 class="text-center">LOADING!!!</h1>
	</div>	
</div>

<div class="row" ng-show="state === 'error'">
	<div class="col-md-12">
		<h1 class="text-center">ERROR!!!</h1>
	</div>
</div>

<div ng-show="state === 'ok'">
	<div class="row" ng-show="expenses.length === 0">
		<div class="col-md-12">
			<h1 class="text-center">No Expenses. Why not <a href='#/add'>add</a> one?</h1>
		</div>
	</div>

	<div class="row" ng-show="expenses.length !== 0">
		<h1 class="col-md-8">Expense List</h1>
		<div class="col-md-4"><input type='search' class='form-control' placeholder='Search Expenses' ng-model='query' /></div>
	</div>

	<div class="row expense-list" ng-repeat="expense in expenses | filter: query | orderBy: predicate:true">
		<div class="col-md-12 row-item clickable item-gap" ng-click="edit(expense)">
			<div class="row">
				<div class="col-md-9">
					<div class="row"><div class="col-md-12"><h2>{{expense.description}}</h2></div></div>
					<div class="row"> <div class="col-md-12"><p class="text-muted">{{ expense.date | date:'short' }}</p></div></div>
					<div class="row"><div class="col-md-12"><p>{{expense.comment}}</p></div></div>
				</div>
				<div class="col-md-3">
					<h2 class="pull-right">{{ expense.amount | currency }}</h2>
				</div>				
			</div>
		</div>
	</div>
</div>